:root{
    --cor-hover: #ffffff;
}

*{
    padding: 0;
    margin: 0;
}

ul, ol, li{
    list-style:none;
}

a{
    text-decoration: none;
    color: inherit;
}

#menu{
    background-color: rgb(128, 75, 133);
    color: rgb(218, 209, 223);
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 16px;
}
#menu a{
    padding: 8px;
    transition: .5s;
    border-radius: 3px;
}
#menu a:hover{
    background-color:var(--cor-hover);
}
#menu img{
    height: 16px;
}